@import '/src/scss/container_children';
@import '/src/scss/custom';
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.mat-tab-group {
  margin-bottom: 48px;
}
mat-form-field{
  margin-top: 10px;
}
td{
  padding: 0px;
  text-align: left;
}
th{
  text-align: left;
}
label{
  margin-top: 30px;
}
.mat-card{
  height: 400px;
}
.customer_site{
  width: 94%;
}
.client_country{
  width:30%;
  margin-right: 10px;
}
.customer_area{
  width:30%;
  margin-right: 10px;
}
.instruction_manual{
  width:74%;
  margin-left: 18px;
}
.model{
  width:30%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.machine_serial_number{
  width:30%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.project_code{
  width:30%;
  margin-bottom: 0px;
}
.group{
  width: 94%;
  margin-top: 30px;
}