<div class="container">
    <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb" style="background-color:white;">
            <ol class="breadcrumb" style="background-color:white;padding-left: 0px;">
              <li class="breadcrumb-item"><a href="#">首頁</a></li>
              <li class="breadcrumb-item active" aria-current="page">業務</li>
              <li class="breadcrumb-item active" aria-current="page">治具需求單管理</li>
            </ol>
          </nav>
        </div>
    </div>
    <!--標題-->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="left">
                <h1>
                    <mat-icon>description</mat-icon>
                    <span class="text-left">
                     治具需求單追蹤作業
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <!--查詢區域-->
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group pt-3 pb-0">
                <mat-card class="card search-group">
                    <mat-form-field appearance="outline" style="width: 250px;">
                        <mat-label>主旨、關鍵字</mat-label>
                        <input matInput type="text" name="client-name">
                    </mat-form-field>
  
                    <mat-form-field appearance="outline" style="width:100px">
                      <mat-label>客戶單號</mat-label>
                      <mat-select>
                        <mat-option value="option">未指定</mat-option>
                        <mat-option value="option">2</mat-option>
                        <mat-option value="option">3</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field appearance="outline" style="width:100px">
                      <mat-label>分類</mat-label>
                      <mat-select>
                        <mat-option value="option">未指定</mat-option>
                        <mat-option value="option">內部需求</mat-option>
                        <mat-option value="option">外部需求</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field appearance="outline" style="width:100px">
                      <mat-label>類別</mat-label>
                      <mat-select>
                        <mat-option value="option">全部</mat-option>
                        <mat-option value="option">評估</mat-option>
                        <mat-option value="option">製圖</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field appearance="outline" style="width:100px">
                      <mat-label>狀態</mat-label>
                      <mat-select>
                        <mat-option value="option">全部</mat-option>
                        <mat-option value="option">一般</mat-option>
                        <mat-option value="option">急件</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field appearance="outline">
                        <mat-label>進階搜尋</mat-label>
                        <mat-select disableRipple>
                            <mat-option value="1">全部</mat-option>
                            <mat-option value="2">訂單未完工</mat-option>
                            <mat-option value="3">入庫已完工</mat-option>
                            <mat-option value="4">設計未完工</mat-option>
                            <mat-option value="5">採購未完工</mat-option>
                            <mat-option value="6">入庫未完工</mat-option>
                        </mat-select>
                    </mat-form-field>
  
                    <button mat-button id="" class="btn-normal-none">查詢</button>
                    <button mat-stroked-button class="btn-normal">匯出</button>
                  </mat-card>
            </div>
        </div>
    </div>
    <!--顯示資料區域-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pt-0 pb-3">
                <!--表格-->
                <mat-card class="card table">
                    <div class="table-container">
                        <h5 class="">治具需求單需求項目進度一覽表</h5>
                        <hr>
                        <table class="table table-hover">
                          <!-- <thead>
                          </thead> -->
                          <tbody>
                            <tr>
                              <td rowspan="2">序號</td>
                              <td colspan="8">客戶訂單資訊</td>
                              <td colspan="6">治具需求單</td>
                              <td colspan="13">產品需求</td>
  
                            </tr>
                            <tr>
                              <td >急件</td>
                              <td >客戶名稱</td>
                              <td >客戶通知日</td>
                              <td >客圖/資訊</td>
                              <td >PODate</td>
                              <td >PONo.</td>
                              <td >項目</td>
                              <td >規格</td>
                              <td >治具</td>
                              <td >治具需求單</td>
                              <td >專案代號</td>
                              <td >內部訂單</td>
                              <td >預計出機日</td>
                              <td >備註</td>
                              <td >項目名稱</td>
                              <td >數量</td>
                              <td >總成品號</td>
                              <td >設計交期</td>
                              <td >設計完工</td>
                              <td >內部訂單</td>
                              <td >請購完成</td>
                              <td >發包完成</td>
                              <td >預計入料</td>
                              <td >入料完成</td>
                              <td >預計入庫</td>
                              <td >入庫完工</td>
                              <td >出貨日期</td>
                            </tr>
                            <tr>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
  
                            </tr>
                          </tbody>
                      </table>
                          <!-- <mat-paginator #paginator [length]="" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true">
                          </mat-paginator> -->
                    </div>
  
                </mat-card>
            </div>
        </div>
    </div>
  
  </div>
  