img {
  align-items: center;
  width: 50%;
  //max-width: 100%;
}
@import '/src/scss/container_children';

mat-divider-horizontal {
    width: 80%;
}

mat-list-item{
    margin-top: 16px;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}