<div class="container">
    <!--標題-->
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="left">
          <h1>
            <mat-icon>description</mat-icon>
            <span class="text-left">
              報價申請單作業
            </span>
          </h1>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pt-0 pb-3">
          <mat-card class="card">
            <div class="example container">
              <mat-form-field appearance="outline">
                <mat-label>報價單號</mat-label>
                <input matInput placeholder="報價單號">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>單據日期</mat-label> 
                <mat-date-range-input [rangePicker]="picker" placeholder="單據日期">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
               <mat-form-field appearance="outline">
                <mat-label>狀態</mat-label>
                <mat-select>
                    <mat-option value="建檔中">建檔中</mat-option>
                    <mat-option value="審核中">審核中</mat-option>
                    <mat-option value="已結案">已結案</mat-option>
                    <mat-option value="已核准">已核准</mat-option>
                  </mat-select>
              </mat-form-field>
              <button mat-raised-button class="btn-none">查詢</button>
              <button mat-raised-button class="btn">新增</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <!--顯示資料區域-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pt-0 pb-3">
          <!--表格-->
          <mat-card class="card table">
            <div class="table-container">
              <h5 class="">報價申請單列表</h5>
              <hr>
              <table mat-table [dataSource]="datasSource" class="">
                <!-- edit -->
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>編輯</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="basic" class="table-btn-none" (click)="editItem()">
                      <mat-icon>edit</mat-icon>
                    </button>
                </ng-container>
                <!--urgent-->
                <ng-container matColumnDef="q_id">
                  <th mat-header-cell *matHeaderCellDef> 報價單號 </th>
                  <td mat-cell *matCellDef="let element"> {{element.q_id}} </td>
                </ng-container>
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef> To </th>
                  <td mat-cell *matCellDef="let element"> {{element.to}} </td>
                </ng-container>
                <!-- c_name -->
                <ng-container matColumnDef="attn">
                  <th mat-header-cell *matHeaderCellDef> ATTN </th>
                  <td mat-cell *matCellDef="let element"> {{element.attn}} </td>
                </ng-container>
                <!-- liaison_phone -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> DATE </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <!-- creater -->
                <!-- date_for_respond -->
                <ng-container matColumnDef="creater">
                  <th mat-header-cell *matHeaderCellDef> 建檔人 </th>
                  <td mat-cell *matCellDef="let element"> {{element.creater}} </td>
                </ng-container>
                <ng-container matColumnDef="create_time">
                  <th mat-header-cell *matHeaderCellDef> 建檔日期 </th>
                  <td mat-cell *matCellDef="let element"> {{element.create_time}} </td>
                </ng-container>
                <!-- date_for_demand -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> 狀態 </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
              </table>
              <mat-paginator #paginator [length]="" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true">
                          </mat-paginator>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div class="row pb-4">
      <div class="col-md-3 text-center">
          <mat-card class="card p-5 analyze-item items-center justify-col analyze-item-content">
  
              <button class="analyze-btn">
                  <mat-icon>assignment</mat-icon>
              </button>
              <h3 class="mt-3 text-32" >
                1
            </h3>
              <p class="analyze-text m-0">建檔中</p>
          </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card class="card p-5 analyze-item items-center justify-col analyze-item-content">
          <mat-icon>directions_run</mat-icon>
          <h3 class="mt-3 text-32">
            0
          </h3>
          <p calss="analyze-text m-0">審核中</p>
        </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card class="card p-5 analyze-item items-center justify-col analyze-item-content">
          <mat-icon>assignment_turned_in</mat-icon>
          <h3 class="mt-3 text-32">
            0
          </h3>
          <p calss="analyze-text m-0">已結案</p>
        </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card class="card p-5 analyze-item items-center justify-col analyze-item-content">
          <mat-icon>announcement</mat-icon>
          <h3 class="mt-3 text-32">
            0
          </h3>
          <p calss="analyze-text m-0">已核准</p>
        </mat-card>
      </div>
  </div>
  