.mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  background-color: #fff;
  padding: 4px 25px;
  height: inherit;
  min-height: 49px;

  h1 {
    font-size: 18px;
    line-height: 24px;
  }
}
