
<button id="user-create" mat-raised-button color="primary" (click)="openCreate()">創建</button>
<mat-table [dataSource]="usersDataSource">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>名字</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef>用戶名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="department">
    <mat-header-cell *matHeaderCellDef>部門</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.department}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>職稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="proxy_position">
    <mat-header-cell *matHeaderCellDef>代理</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.proxy_position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="management">
    <mat-header-cell *matHeaderCellDef>
      <u>管理</u>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="openEdit(row)">編輯</button>
      <button mat-button color="warn" (click)="openDel(row)">刪除</button>
    </mat-cell>
  </ng-container>

 <mat-header-row *matHeaderRowDef="[ 'name',  'username','department', 'position', 'proxy_position',  'management']"></mat-header-row>
 <mat-row *matRowDef="let userRow; columns: [ 'name',  'username', 'department', 'position', 'proxy_position',  'management']"></mat-row>
</mat-table>
<mat-paginator
               [length]="totalCount"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>
