<div class="container">
    <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main/dashboard">首頁</a></li>
              <li class="breadcrumb-item active">業務</li>
              <li class="breadcrumb-item active" aria-current="page">治具需求單作業</li>
            </ol>
          </nav>
        </div>
    </div>
    <!--標題-->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="left">
                <h1>
                    <mat-icon>description</mat-icon>
                    <span class="text-left">
                        治具需求單進度回報[業務] 
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <!--顯示資料區域-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pt-0 pb-3">
                <!--表格-->
                <mat-card class="card table">
                    
                    <div class="table-container">
                        <h5 class=" " >治具需求單列表</h5>
                        <hr>
                        <table mat-table [dataSource]="datasSource" class="">
                            <!-- j_id -->
                            <ng-container matColumnDef="j_id">
                                <th mat-header-cell *matHeaderCellDef> 單號 </th>
                                <td mat-cell *matCellDef="let element"> {{element.j_id}} </td>
                            </ng-container>
                            <!-- summary -->
                            <ng-container matColumnDef="summary">
                                <th mat-header-cell *matHeaderCellDef> 標題 </th>
                                <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
                            </ng-container>
                            <!-- c_name -->
                            <ng-container matColumnDef="c_name">
                                <th mat-header-cell *matHeaderCellDef> 專案代號 </th>
                                <td mat-cell *matCellDef="let element"> {{element.c_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action_edit" >
                                <th mat-header-cell *matHeaderCellDef style="text-align: right;"> 編輯 </th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <button mat-mini-fab color="basic" class="table-btn-none" (click)="editItem()">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                          </table>
                          <mat-paginator #paginator [length]="" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true">
                          </mat-paginator>
                    </div>
                    
                </mat-card>
            </div>
        </div>
    </div>
</div>