@import '/src/scss/container_children';
.pd-1{
padding: 1px;    
}
.mt-15{
margin-top: 15px;
}
.pd-0{
    padding: 0px;
}
.pr-0{
    padding-right: 0px;
}
.al-it0
{
    align-items:baseline; 
    margin-top: 5px;  
}
.h-50p
{
    height: 50px;
}